/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, p, a, time, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}
/*TYPOGRAPHY*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;

    font-family: "lato", sans-serif;

}


h1,h2{

    font-family: "lato",sans-serif;

}
h1 {
    font-size: 3rem;
    padding-left: 6rem;
    color: #eeeeee;

}
h2{
    font-size: 7rem;
    padding-top: 7rem;
    text-align: center;
    font-weight: lighter;

}

img{

    display: block;
    background: rgba(255,255,255,.1);

}
div.Constraints{
    max-width: 145rem;
    margin: 0 auto;

}
body>section::after{
    content:"";
    display: block;
    clear: both;
}
/*nav*/
#headnav{
    background: #2e3031;
    padding: 2rem;
    vertical-align: center;
     height: 8rem;
    margin: auto;

}
#headnav ul{
    float: right;
}
#headnav li{
    float: left;
    position: relative;
    top:-2.5rem;


}
#headnav li a {

    padding: .5rem 1rem;
    color: #eee;
    font-size: 2rem;

}
#headnav img{
    display: block;
    width: 5rem;
    max-height: 5rem;
    float: left;
    position: relative;
    top: -1rem;
    background-color: transparent;

}
/*Page Content*/

/*capabilities*/
#Capabilities{

    background-color: #4C4E50;
    color: #eeeeee;
    text-align: center;
    margin: auto;
    height: auto;

}
#Capabilities h2{
    margin-bottom: 2rem;
}


#Capabilities span{
    font-weight: bold;

}

#Capabilities p{
    padding-bottom: 2rem;
     text-align: left;
    margin: 2rem 30rem 0 10rem;


}
#ReadMore{

    background-color: #EA202E;
    border: none;
    color: #eeeeee;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    margin-bottom: 5rem;
    float: left;
    text-transform: uppercase;

}
#ReadMore:not(.disabled):hover {

    background-color: #2e3031;
}

#ReadMore:not(.disabled):active {

    background-color: #2e3031;
}
#ReadMore:after{
    content:"";
    display: block;
    clear: both;
}
#Capabilities img{
    float: left;
    max-height: 30rem;
    margin-bottom: 2rem;
   margin-left: 20rem;
    margin-right: 2.5rem;
}

/*what we offer*/
#WhatWeOffer  {
    background-color: #EA202E;
    color: #eeeeee;
    margin: auto;
    height: auto;


}
#WhatWeOffer span{
    font-weight: bold;

}
#WhatWeOffer img{
    height: 30rem;
    width: 40rem;
    margin-bottom: 2rem;
}



#WhatWeOffer li h3{
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;

}
#WhatWeOffer li img{

    background: none;
    margin-left: 5rem;
}

#WhatWeOffer li p{
    text-align: center;
    margin-top: .5rem;

}

#levels li  {

    float: left;
    width: 20rem;
    padding: 2rem 2rem;


}
#levels li:nth-of-type(1){
    background-image: url("/images/offer1.png");
    background-repeat: no-repeat;
    background-position: top;

}
#levels li:nth-of-type(2){
    background-image: url("/images/offer2.png");
    background-repeat: no-repeat;
    background-position: top;

}
#levels li:nth-of-type(3){
    background-image: url("/images/offer3.png");
    background-repeat: no-repeat;
    background-position: top;

}
#levels{
margin-left: 20rem;
}


/*Featured*/
#featured{
    height: auto;
}
#featured span{
    font-weight: bold;


}
#featured p {
    text-align: left;

}
#featured ul {

    list-style-type: none;
    padding: 0;
    width: 20rem;
    background-color: #f1f1f1;
    margin: 0 5rem 2rem 10rem;
    float: left;

}
#label{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-right: 75rem;
}



#featured h2{

    padding-bottom: 6rem;
}
#featured h3{
    text-align: left;
    font-size: 3rem;
}


#featured li {
    text-align:center;

    height: 5rem;
    border-top: .1rem solid #555;

}
#featured li:nth-child(3){
    border-bottom: .1rem solid #555;;
}

/*advice*/
#Advice{
    background-image: url("/images/Tips.jpg");
    background-position: center;
    color: #eeeeee;
    margin: auto;
    height: auto;

}
#Advice span{
    font-weight: bold;

}

#Advice p:nth-of-type(1){
    margin-right: 30rem;

}
#Advice p:nth-of-type(2){
    margin-left: 50rem;
    margin-top: 10rem;
}
#Advice img{

    max-height: 20rem;

}

#Advice img:nth-of-type(1){
    float: left;
    margin-left: 50rem;
    margin-right: 2rem;
}
#Advice img:nth-of-type(2){
    float: right;
    margin-top: 10rem;
    margin-right: 40rem;
    margin-bottom: 2rem;
}



/*tips*/
#tips{
    background-color: #C22A36;
    color: #eeeeee;
    text-align: center;
    margin: auto;
    height: auto;

}
#tips span{
    font-weight: bold;

}
#tips p{
   padding-bottom: 2rem;

}

/*footer*/
#footer{
    text-align: center;
    margin: auto;
    height: 50rem;
    background-image: url("../images/Footer.jpg");
    background-repeat: no-repeat;
    color: #eeeeee;


}
#footer ul{
    padding-top: 20rem;
    margin-left: 75rem;
    padding-bottom: 3rem;


}

#footer li {

    float: left;
    padding: 2rem;
    margin-left: 2rem;


}
#footer ul:after{
    content:"";
    display: block;
    clear: both;
}
#footer li:nth-of-type(1){
    background-image: url("../images/facebook.png");
    background-position: center;
    height: 12.8rem;
    width: 12.8rem;
    color: transparent;

}
#footer li:nth-of-type(2){
    background-image: url("../images/twitter.png");
    background-position: center;
    height: 12.8rem;
    width: 12.8rem;
    color: transparent;


}

/*Contact page*/
#Contact{

    background-color: #4C4E50;
    color: #eee;
}

#Form h2{
    text-align: left;
    padding-left: 5rem;
    margin-bottom: 2rem;
}
#Contact h3{
    font-size: 2rem;
}
#Info h2{
    text-align: left;
    margin-bottom: 2rem;

}
#Contact h3:nth-of-type(1){

}
#Contact h3:nth-of-type(2){
    margin-bottom: .3rem;
}
#Contactlist ul{
    margin-bottom: 2rem;
}
#Contactlist ul:nth-of-type(1){
    float: left;
 padding-right: 3rem;
}
#Contactlist:after{
    content:"";
    display: block;
    clear: both;
}
#Form{

float: left;
margin-left: 40rem;
}
/*contact info

 */
label:not(.error) {
    display: none;
}
input, textarea {
    width: 100%;
    background-color:#656769 ;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #eeeeee;
    padding: 1rem 0 1rem 2rem;
    font-family: "lato", sans-serif;
    border: none;
}
input:focus, textarea:focus {
    border-bottom: 1px solid #eeeeee;
}
input::placeholder, textarea::placeholder {
    color: #eeeeee;
    font-weight: 400;
}
textarea {
    height: 15rem;
    width: calc(100%/2 - 1rem);
}


#Info{
    overflow: hidden;
    padding-left: 10rem;
}
#contactinfo {
    padding: 0 0 2rem 0;
    border: none;
}

#contactinfo div:nth-of-type(1) {
    width: calc(100%/2 - 1rem);
    float: left;
    border: none;
}

#contactinfo div:nth-of-type(2) {
    width: calc(100%/2 - 1rem);

}
#contactinfo div:nth-of-type(3) {
    width: calc(100%/2 - 1rem);

}
button[type='submit'] {
    display: block;
    height: 7rem;
    width: 15rem;
    padding: 1rem;
    background: #4C4E50;
    border: .2rem solid #eee;
    color: #eee;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;

}

button[type='submit']:not(.disabled):hover {
    border: none;
    background-color: #C22A36;
}

button[type='submit']:not(.disabled):active {
    border: none;
    background-color: #C22A36;
}






