/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, p, a, time, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}
/*TYPOGRAPHY*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;

    font-family: "lato", sans-serif;

}


h1,h2{

    font-family: "lato",sans-serif;

}
h1 {
    font-size: 7rem;
    margin: 2rem 0 4rem 0;
    text-align: center;
}
h2{
    font-size: 1.7rem;
    margin: 2rem 0 4rem 0;
    text-align: center;

}


img{
    display: block;
    min-height: 15rem;
    background: rgba(255,255,255,.1);
}

#headnav{
    background: #2e3031;
    padding: 3rem;
    vertical-align: center;



}
#headnav li a {
    display: inline-block;
    float: right;
    padding: .5rem 1rem;
    color: #eee;

}
#logo{
    display: block;
    width: 10rem;
    min-height: 3rem;
    float: left;
    vertical-align: center ;
}
#Capabilities{

    background-color: #4C4E50;
    color: #eeeeee;
    text-align: center;
}

#WhatWeOffer  {
    background-color: #EA202E;
    color: #eeeeee;
}
#levels li  {
    display: inline;
}
#featured p {
    text-align: center;
}
#featured ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20rem;

    background-color: #f1f1f1;

}

#featured li {
    text-align:center;

    height: 5rem;
    border-top: .1rem solid #555;

}
#featured li:nth-child(3){
    border-bottom: .1rem solid #555;;
}
#Advice{
    background-color: #2e3031;
    color: #eeeeee;

}
#Advice p{
    text-align: center;
}
#tips{
    background-color: #C22A36;
    color: #eeeeee;
    text-align: center;
}
#footer{
    text-align: center;
}
#footer li {
    padding: 2rem;
    display: inline;

}



