.stats{
border: .2rem solid black;
border-radius: 1rem;

padding-bottom: 1.5rem;
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
background-color: #fff;
}
body{
    background-color: #f1F0cc;
   
    font-family: 'Rubik', sans-serif;
}
.header2{
    background-color: #f1F0cc;
}

.statscontent{
margin:2.5rem;
margin-top: 0;

}
.hospital{
    margin-top: 1rem;
}
.vaccines{
    margin-top: 1rem;
}
.display-4 {
    font-size: 2rem;
   font-weight: bold;
}
.card{
    border:.2rem black solid;
    border-radius: 1rem;
    margin: 1rem;

}
.areahead{
    margin: 1rem;;
}
.moreinfo{
  
    margin-top: .5rem;
    background-image: url("/info.png");
    background-repeat: no-repeat;
    margin-right: 1rem;
    height: 4.3rem;
    width: 3.8rem;
    margin-left: 1rem;
    
    
}

.col-1{
    margin-left: 1rem;
}
.w-10{
    width: 5rem;
}
.card-title{
    font-size: 1.4rem;
    
    
}
.risklevellable{
    font-size: 3rem;
    padding-left: 10rem;
}
.card-text{
    font-size: 2rem;
    text-decoration: underline;

    

    
}
footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    background-color:#6290c3;
    color: white;
    z-index: 1;
    position: relative;

}
a{
    color:white;
    z-index: 1;
    position: relative;
}
.display-3{
    color: #6290c3;
}
@media(min-width:0px){
    .risklevellable{
        font-size: 2rem;
        padding-left: 0;
    }
   
}
@media(min-width:420px){
    .w-10{
        width: 0;
    }
    .newcasses{
        padding-left: 0;
    }
}
@media(min-width:800px){
    .risklevellable{
        font-size: 4rem;
      
    }
}